*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E2E8F0;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
}

.grid-container{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: grid;
    overflow: hidden;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "sidebar header header header header"
                         "sidebar content content content content"
                         "sidebar card-md-1 card-md-2 card-md-3 card-md-4"
                         "sidebar card-xl-1 card-xl-1 card-xl-2 card-xl-2"
                         "sidebar card-xl-1 card-xl-1 card-xl-3 card-xl-3"
                         "sidebar footer footer footer footer";

                         .header{
                            grid-area: header;
                            background-color: #0F172A;
                            display: flex;
                            justify-content: space-between;
                            padding: 10px;
                            display: flex;

                            p{
                                font-weight: 700;
                                font-size: 15px;
                                color:  #fff;
                            }

                            .button{
                                width: 200px;
                                height: 50px;
                                font-weight: 700;
                                color: hsl(36, 100%, 99%);
                                font-size: 15px;
                                background-color:#0F172A ;
                                border-style: none;
                            }

                            .button:hover{
                                color: #fff;
                                background-color:#312E81;
                            }
                          
                         }

                         .content{
                            grid-area: content; 
                         }

                         .sidebar{
                            grid-area: sidebar;
                            background-color: #312E81;
                         }
                            ul{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                list-style: none;
                                gap: 15px;
                                padding: 30px;
                
                                li a{
                                    text-decoration: none;
                                    font-weight: 400;
                                    color:  #fff ;
                                }

                                li a:hover{
                                    color: #000;
                
                                }
                            
                         }

                         .card-md-1{
                            grid-area: card-md-1;
                            background-color: #4F46E5;

                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                         }

                         .card-md-2{
                            grid-area: card-md-2;
                            background-color: #A855F7;

                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                         }

                         .card-md-3{
                            grid-area: card-md-3;
                            background-color: #DB2777;

                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                         }

                         .card-md-4{
                            grid-area: card-md-4;
                            background-color: #E11D48;

                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                         }

                         .card-xl-1{
                            grid-area: card-xl-1;
                            background-color: #A78BFA;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                         }

                         .card-xl-2{
                            grid-area: card-xl-2;
                         }

                         .card-xl-3{
                            grid-area: card-xl-3;
                            background-color: #E11D48;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            
                         }
                         .logo img{
                            width: 100px;
                         }

                         .footer{
                            grid-area: footer;
                            background-color:#0F172A;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;

                            p{
                                color: #fff;
                            }
                           
                         }
                         
}

